<article class="my-4 rounded-md shadow overflow-hidden bg-dyari-gray-lightest sm:max-w-3xl sm:mx-auto dark:bg-dyari-gray-dark {{post_class}}">

    <a class="flex flex-col text-dyari-gray-dark hover:text-dyari-gray-dark sm:flex-row dark:text-dyari-gray-lightest dark:hover:text-dyari-gray-lightest" href="{{url}}">

        {{#if feature_image}}
            <img class="object-cover object-center h-24 sm:w-36 sm:h-auto"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 1000px, 7000px"
                src="{{img_url feature_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
        {{else}}
            <div class="flex-none bg-dyari-gray-very-light sm:w-36 sm:h-auto dark:bg-dyari-gray-darker"></div>
        {{/if}}

        <div class="mx-2 mb-2">
            <span class="text-xs font-thin dark:text-dyari-gray-lighter">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D. MMMM YYYY"}}</time>
            </span>
            <h2 class="block text-xl font-medium leading-tight">
                {{title}}
            </h2>
            <p class="hidden leading-tight font-extralight text-dyari-gray sm:block sm:pt-1 dark:text-dyari-gray-light">
                {{excerpt}}
            </p>
        </div>

    </a>

</article>
